.box-part{
    background:#FFF;
    border : solid 1px gray;
    border-radius:10px;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}
.title h4{
    color:grey;
    font-size:2.5em;
    font-weight: bold;

}